<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our web</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Team</h2>
          <p class="title">Include</p>
          <p>Some text that describes about team .</p>
          <p>each member email.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Web</h2>
          <p class="title">Web</p>
          <p>Decribes about the web and the reason why you creat web.</p>
          <p>Phonenumber</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  