<!doctype html>
<html lang="vi">
<head>
<meta charset="utf-8">
<title>asm2</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
<link rel="stylesheet" href="../static/css/detail.css"/>
</head>

<body>
<div class = "container-fluid">
	  <div class = "row header-row " style="background-color: #E76264">
		  <div class = "container mx-auto">
			
			</div>
		</div>
  </div>
	    <div class = "row header-row1" style="background-color: #E76264">
			<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<img class = "logo" src="../front-end-asm/image/image2.jpeg" width = "250px" style = "margin-left: 100px; margin-top: 10px;">
			</div>
			<div class= "col-xs-12 col-sm-12 col-md-12 col-lg-3">
				<h2 style = "margin-left: 30px;">Shop Giày Hoài Nam</h2>
			</div>
			<div class= "col-xs-12 col-sm-12 col-md-12 col-lg-3">
				<i class="fa fa-heart" aria-hidden="true" style ="color: white; font-size: 25px; margin-top: 35px; margin-left: 180px"></i>
			</div>
		</div>
		<div class = "row header-row2"  style="background-color: #E76264">
			<div class = "col-xs-12 col-lg-12 col-md-12 col-sm-12">
			<ul>
				<li><a style = "cursor: pointer;" href = "../HoaiNam">Trang chủ</a></li>
				<li><a style="cursor: pointer;" href=" ../sanpham">Sản Phẩm</a></li>
				<li><a style="cursor: pointer;" href="../products">Giỏ Hàng</a></li>
				<li><a style="cursor: pointer;" href="../login">login</a></li>
				<li><a style="cursor: pointer;" href="../signup">signup</a></li>
				<li><a style="cursor: pointer;" href="../aboutus">aboutus</a></li>
				<li><a style="cursor: pointer;" href="../contact">contact</a></li>	
			</ul>
			</div>
		</div>
	<ul class = "category">
			
			<li><a href = "" style="color: black; font-size: 30px"></a></li>
				
			
		<div class = "title">
			<h2 style="text-align: center;">Chi Tiết Sản Phẩm</h2>
		</div>
  		
			<div class = "content-detail">
				<img src = "" id = "img"/>
				<div class = "content">
					<h3><strong>Tên sản phẩm:</strong> </h3>
					<h3><strong>Giá:</strong>  </h3>
					<h3><strong>Tình trạng: </strong></h3>
					<h3><strong>Mô Tả:</strong> </h3>
					<br>
					<button class = "btn-buy"><a href="{% url 'order'%}">>Thêm Vào Giỏ Hàng<a></button>
				</div>
			</div>
			
		</div>
 
	</body>
</html>